/* Arquivo de reset dos estilos pré-definidos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input {
    border: none;
}

textarea {
    resize: none;
  }