/* Arquivo de respondividade */
@media (max-width: 999px) {
    html, body {
        overflow-x: hidden !important;
    }

    /* Logo */
    #headMenu .logoCare {
        margin-left: 0;
        width: 50%;
        text-align: center;
    }

    /* Menu Lateral */
    .nav-list {
        opacity: 0;
        position: absolute;
        top: 10vh;
        right: 0;
        width: 30vw;
        height: 50vh;
        background: #FE8400;
        border-radius: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    #headMenu .menu .menuItems .nav-list li {
        opacity: 0;
    }

    #headMenu .menu .menuItems .nav-list li a { 
        margin-left: 0;
    }

    #headMenu .menu {
        flex-direction: row;
        justify-content: end;
    }

    #headMenu .menu .mobile-menu {
        display: block;
    }

    /* Main */
    #heroSection {
        justify-content: center;
        flex-direction: column-reverse;
        height: auto;
    }

    /* Menu de redes sociais do main */
    #socialMenu {
       display: none;
    }

    /* img mainPicture da Main */
    #heroSection #mainPicture {
        position: static;
        width: 98%;
        max-width: 528px;
    }

    /* section bookNow */
    #bookNow .bookingForm .formBook .space {
        justify-content: center;
        gap: 2rem;
    }
    #bookNow .bookingForm .formBook .inputStyleSmall, .Peq {
        width: 320px;
    }

    /* section cars */
    #cars .carasoulList .List .cardsCars {
        overflow-x: scroll;
        scrollbar-width:auto;
    }

    .set-carList, #cars .carasoulList .bullet {
        display: none;
    }

    /* section clientSay */
    #clientSay .carrossel .set-cliList {
        display: none;
    }

    #clientSay .carrossel .clientCards {
        width: 88%;
        overflow-x: scroll;
        scrollbar-width: auto;
    }

    #clientSay .carrossel .clientCards .cardCli .nameComent {
        width: 18rem;
    }

    /* footer */
    #preFooter .logoIcon{
        justify-content: center;
    }

}