/* Arquivo de estilização*/

/* Inicio da Main */
#heroSection {
    display: flex;
    flex-wrap: wrap;
}

/* Inicio do header da Main */
#headMenu {
    width: 100vw;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;
}

#headMenu .logoCare {
    font-family: Arial Black, sans-serif;
    font-size: 26px;
    color: #FE8400;
    margin-left: 155px;
}

#headMenu .menu {
    width: 700px;
    display: flex;
    justify-content: space-around;
}

#headMenu .menu .menuItems {
    width: 497px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}

#headMenu .menu .menuItems a {
    color: #141414;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

#headMenu .menu .menuButton {
    width: 146px;
    height: 40px;
    background-color: #FE8400;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #141414;
    border-radius: 4px;
}
/* Fim do header da Main */

/* Inicio da div socialMenu */
#socialMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 445px;
    margin: 72px;
    margin-left: calc(72px + 47.5px);
}

#socialMenu .line {
    width: 1px;
    height: 38px;
    background-color: #FE8400;
}

#socialMenu .redesIcons {
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#socialMenu .redesIcons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #FE8400;
    border-radius: 4px;
    color: #141414;
}

#socialMenu .redesIcons .facebook {
    font-size: small;
    align-items: end;
}

#socialMenu .redesIcons .telegram img {
    width: 12px;
}
/* Fim da div socialMenu */

/* Inicio da div headerText */
#headerText {
    width: 528px;
    height: 445px;
    margin-left: 47.5px;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 999;
}

#headerText .title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

#headerText .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FFF;
}

#headerText .title p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.85);
}

#headerText .exploreButton {
    width: 256px;
    height: 60px;
    background-color: #FE8400;
    border-radius: 4px;
    color: #141414;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
/* Fim da div headerText */

/* Inicio da img mainPicture */
#heroSection #mainPicture {
    width: 909px;
    height: 545px;
    position: absolute;
    top: 104px;
    right: 0px;
}
/* Fim da img mainPicture */

/* Inicio da span com a classe rectangle */
#heroSection .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
    width: 700px;
    height: 100%;
    z-index: -1;
}
/* Fim da span com a classe rectangle */