/* Arquivo de estilização*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inicio do header */
#headMenu {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headMenu .logoCare {
    margin-left: 90px;
    font-family: Arial Black, sans-serif;
    font-size: 1.625rem;
    color: #FE8400;
}

#headMenu .menu {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#headMenu .menu .menuItems {
    display: flex;
    align-items: center;
}

#headMenu .menu .mobile-menu {
    cursor: pointer;
    display: none;
}

#headMenu .menu .mobile-menu div {
    width: 32px;
    height: 3px;
    border-radius: 5px;
    background-color: #141414;
    margin: 7px;
    transition: 0.3s;
}

#headMenu .menu .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

#headMenu .menu .mobile-menu.active .line2 {
    opacity: 0;
}

#headMenu .menu .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

#headMenu .menu .menuItems .nav-list {
    list-style: none;
    display: flex;
}

.nav-list.active {
    transform: translateX(0);
}

#headMenu .menu .menuItems .nav-list li a {
    margin-left: 2rem;
    color: #141414;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#headMenu .menu .menuButton {
    width: 146px;
    min-height: 40px;
    font-size: 1rem;
}

#headMenu::before {
    content: "";
    position: absolute;
    background-color: #141414;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
/* Fim do header*/

/* Inicio da Main */
#heroSection {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 56px;
}

#heroSection::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
    z-index: -1;
    margin-bottom: 56px;
}

/* Inicio da div socialMenu da Main */
#socialMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 20%;
    max-width: 200px;
    max-height: 445px;
}

#socialMenu .line {
    width: 1px;
    height: 38px;
    background-color: #FE8400;
}

#socialMenu .redesIcons {
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#socialMenu .redesIcons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #FE8400;
    border-radius: 4px;
    color: #141414;
}

#socialMenu .redesIcons .facebook {
    font-size: small;
    align-items: end;
}

#socialMenu .redesIcons .telegram img {
    width: 12px;
}
/* Fim da div socialMenu da Main */

/* Inicio da div headerText da Main */
#headerText {
    width: 98%;
    max-width: 528px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 999;
}

#headerText .title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

#headerText .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: #FFF;
}

#headerText .title p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2.5rem;
}

#headerText .exploreButton {
    width: 256px;
    height: 60px;
    font-size: 1.5rem;
    margin-bottom: 4px;
}
/* Fim da div headerText da Main */

/* Inicio da img mainPicture da Main */
#heroSection #mainPicture {
    width: 60%;
    object-fit: cover;
    position: absolute;
    right: 0;
}
/* Fim da img mainPicture da Main*/
/* Fim da Main */

/* Inicio da section aboutUs */
#aboutUs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}

/* Inicio da div aboutTitle */
#aboutTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#aboutTitle h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}
/* Fim da div aboutTitle */

/* Inicio da div imageInfo */
#imageInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1140px;
}

#imageInfo img {
    width: 80%;
    height: auto;
    max-width: 548px;
    max-height: 354px;
}

#imageInfo .infoAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    max-width: 548px;
    gap: 1.5rem;
}

#imageInfo .infoAbout p {
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#more {
    display: none;
}

#buttonExpandRetraiText {
    background-color: transparent;
    color: #FE8400;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
/* Fim da div imageInfo */
/* Fim da section aboutUs */

/* Inicio da section bookNow */
#bookNow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

/* Inicio da div com a classe bookTitle */
#bookNow .bookTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#bookNow .bookTitle h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}

/* Inicio da div com a classe bookingForm */
#bookNow .bookingForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Fim da div com a classe bookingForm */

/* Inicio do form com a classe formBook  */
#bookNow .bookingForm .formBook {
    width: 100%;
    padding: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C6;
}
/* Fim do form com a classe formBook  */

#bookNow .bookingForm .formBook .space {
    max-width: 65rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 32px 0px;
    flex-wrap: wrap;
}

/* Inicio Input */
#bookNow .bookingForm .formBook .inputStyleBig, .Gran{
    width: 320px;
}

#bookNow .bookingForm .formBook .inputStyleSmall, .Peq{
    width: 220px;
} 


#bookNow .bookingForm .formBook .inputStyleBig input, #bookNow .bookingForm .formBook .inputStyleSmall input {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #141414;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 8px 16px;
}

#bookNow .bookingForm .formBook .inputStyleSmall, #bookNow .bookingForm .formBook .inputStyleBig{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #141414;
    height: 60px;
}

input:focus + .sobPosition {
    display: none;
}

.sobPosition {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    position: absolute;
}

.sobPosition div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
 
}

#buttonBook {
    width: 256px; 
    height: 60px;
    font-size: 24px;
}
/* Fim do Input */
/* Fim do form com a classe formBook  */
/* Fim da section bookNow */

/* Inicio da section cars */
#cars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

#cars .carsTitle h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}

#cars .carasoulList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#cars .carasoulList .List {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
}

#cars .carasoulList .List .set-carList {
    z-index: 999;
}

#cars .carasoulList .List .cardsCars {
    width: 75%;
    min-width: 357px;
    max-width: 86.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#cars .carasoulList .List .cardsCars .card {
    width: 357px;
    height: 430px;
    display: flex;
    justify-content: center;
    padding: 40px 18px;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    gap: 12px;
}

#cars .carasoulList .List .cardsCars .card .carImg {
    width: 319.5px;
    height: 183px;
    object-fit: cover;
    border-radius: 3.33px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .nameConfig {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .nameConfig h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#cars .carasoulList .List .cardsCars .card .nameConfig .infoCar {
    display: flex;
    gap: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#cars .carasoulList .List .cardsCars .card .nameConfig .infoCar .infoCarBasic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton .valor {
    color: #141414;
    font-size: 18px;
    font-weight: 500;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton .btnPageCar{
    width: 106px;
    height: 35px;
    font-size: 14px;
}

#cars .carasoulList .bullet {
    width: 64px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#cars .carasoulList .bullet .circle {
    width: 16px;
    height: 16px;
    background-color: #EAEAEA;
    border-radius: 50%;
}

#cars .carasoulList .bullet .circle.select {
    background-color: #FE8400;
}
/* Fim da section cars */

/* Inicio da section premiumServices */
#premiumServices {
    width: 100%;
    max-width: 58.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

#premiumServices .psTitle {
    margin-top: 2.875rem;
    width: 80%;
    max-width: 30.1875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

#premiumServices .psTitle div {
    width: 100%;
    max-width: 366px;
}

#premiumServices .psTitle h3 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
}

#premiumServices .psTitle p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2rem;
}

#premiumServices .services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

#premiumServices .services .cardServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.125rem;
    width: 17.3125rem;
    height: 20.125rem;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
}

#premiumServices .services .cardServices img {
    width: 56px;
}

#premiumServices .services .cardServices h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    color: #141414;
}

#premiumServices .services .cardServices p {
    width: 9.1875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    color: #575757;
    text-align: center;
}

.rectangle-horizon {
    width: 100%;
    height: 24.6875rem;
    background-color: #141414;
    position: absolute;
    z-index: -1;
}
/* Fim da section premiumServices */

/* Inicio da section clientSay */
#clientSay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

#clientSay .cliSayTitle {
    width: 80%;
    max-width: 366px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#clientSay .cliSayTitle h3{
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #141414;
}

#clientSay .carrossel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

#clientSay .carrossel .clientCards {
    max-width: 930px;
    width: 100%;
    display: flex;
    justify-content: start; 
    align-items: center;
    gap: 1.5rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#clientSay .carrossel .clientCards .cardCli {
    max-width: 453px;
    height: 417px;
    padding: 26.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

#clientSay .carrossel .clientCards .cardCli img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

#clientSay .carrossel .clientCards .cardCli .nameComent {
    width: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.375rem;
}

#clientSay .carrossel .clientCards .cardCli .nameComent h2 {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(0.5rem, 1.625rem, 2rem);
    font-weight: 500;
    color: #141414;
}

#clientSay .carrossel .clientCards .cardCli .nameComent p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #575757;
}
/* Fim da section clientSay */

/* Inicio da section dadosQuality */
#dadosQuality {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 10rem;
    gap: 10rem;
    min-height: 221px;
    margin-bottom: 5rem;
    background-color: #FFE4C6;
}

#dadosQuality .dataQ {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 13.5rem;
    height: 100%;
    max-height: 5.8125rem;
    text-align: center;
}

#dadosQuality .dataQ h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #141414;
}

#dadosQuality .dataQ p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #575757;
}
/* Fim da section dadosQuality */

/* Inicio da section contacts */
#contacts {
    width: 95%;
    max-width: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
}

#contacts .contacTitle h3{
    color:#141414;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#contacts .cardFormContac {
    background-color: #FFF;
    width: 100%;
    max-width: 65.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.4375rem;
    padding: 2.5rem 3.5rem;
    flex-wrap: wrap-reverse;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
    border-radius: 0.25rem;
}

#contacts .cardFormContac .contactForm {
    width: 25.3125rem;
    height: 24.375rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

#contacts .cardFormContac img {
    width: 100%;
    max-width: 451px;
    height: auto;
    object-fit: cover;
}

#contacts .cardFormContac .contactForm .inputFormsCont input {
    width: 100%;
    height: 3.75rem;
    padding: 0.5rem 1rem;
    border: 1px solid #C4C4C4;
    border-radius: 0.25rem;
    background-color: #FBFBFB;
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#contacts .cardFormContac .contactForm .inputFormsCont textarea{
    width: 100%;
    max-width: 25.3125rem;
    height: 7.625rem;
    padding: 0.5rem 1rem;
    border: 1px solid #C4C4C4;
    border-radius: 0.25rem;
    background-color: #FBFBFB;
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

#contacts .cardFormContac .contactForm button{
    width: 256px;
    height: 60px;
    font-size: 1.5rem;
}

#contacts .cardFormContac .contactForm .inputFormsCont {
    width: 100%;
    max-width: 25.3125rem;
    height: 18.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
/* Fim da section contacts */

/* Inicio do footer */
#preFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;
}

#preFooter p {
    padding: 1rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FFF;
}

#preFooter p span {
    color: #FE8400;
    font-weight: 600;
}

#preFooter .lineFooter {
    width: 100%;
    border: 2px solid #C4C4C4;
}

#preFooter .logoIcon {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2.5rem;
}

#preFooter .logoIcon .logoCare {
    font-family: Arial Black, sans-serif;
    font-size: 26px;
    color: #FE8400;
}

#preFooter .logoIcon .redesFooter {
    display: flex;
    gap: 1.5rem;
}

#preFooter .logoIcon .redesFooter div { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    background-color: #FE8400;
    border-radius: 4px;
    color: #141414;
}

#preFooter .logoIcon .redesFooter .facebook {
    align-items: end;
}

#preFooter .logoIcon .redesFooter .telegram img {
    width: 1.5rem;
}

/* Inicio da span com a class rectangle-footer */
#preFooter .rectangle-footer {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 32.75rem;
    background-color: #141414;
}
/* Fim da span com a class rectangle-footer */
/* Fim do footer */

/* Todos os elementos hr */
hr {
    border: 2px solid #FE8400;
}

/* Classe para reutilização de estilos */
.btnStyle {
    background-color: #FE8400;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #141414;
    border-radius: 4px;
    cursor: pointer;
}