/* Arquivo de estilização*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Inicio da Main */
#heroSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    margin-bottom: 56px;
}

/* Inicio do header da Main */
#headMenu {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px;
}

#headMenu .logoCare {
    font-family: Arial Black, sans-serif;
    font-size: 26px;
    color: #FE8400;
    margin-left: 155px;
}

#headMenu .menu {
    width: 700px;
    display: flex;
    justify-content: space-around;
}

#headMenu .menu .menuItems {
    width: 497px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
}

#headMenu .menu .menuItems a {
    color: #141414;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

#headMenu .menu .menuButton {
    width: 146px;
    height: 40px;
    font-size: 16px;
}
/* Fim do header da Main */

/* Inicio da div socialMenu da Main */
#socialMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 445px;
    margin: 72px;
    margin-left: calc(72px + 47.5px);
}

#socialMenu .line {
    width: 1px;
    height: 38px;
    background-color: #FE8400;
}

#socialMenu .redesIcons {
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#socialMenu .redesIcons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: #FE8400;
    border-radius: 4px;
    color: #141414;
}

#socialMenu .redesIcons .facebook {
    font-size: small;
    align-items: end;
}

#socialMenu .redesIcons .telegram img {
    width: 12px;
}
/* Fim da div socialMenu da Main */

/* Inicio da div headerText da Main */
#headerText {
    width: 528px;
    height: 445px;
    margin-left: 47.5px;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 999;
}

#headerText .title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

#headerText .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FFF;
}

#headerText .title p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2.5rem;
}

#headerText .exploreButton {
    width: 256px;
    height: 60px;
    font-size: 24px;
}
/* Fim da div headerText da Main */

/* Inicio da img mainPicture da Main */
#heroSection #mainPicture {
    width: 909px;
    position: absolute;
    top: 104px;
    right: 0px;
}
/* Fim da img mainPicture da Main*/

/* Inicio da span com a classe rectangle da Main */
#heroSection .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #141414;
    width: 60%;
    max-width: 700px;
    height: 100vh;
    z-index: -1;
}
/* Fim da span com a classe rectangle da Main */
/* Fim da Main */

/* Inicio da section aboutUs */
#aboutUs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
}

/* Inicio da div aboutTitle */
#aboutTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#aboutTitle h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}
/* Fim da div aboutTitle */

/* Inicio da div imageInfo */
#imageInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1140px;
}

#imageInfo img {
    width: 80%;
    height: auto;
    max-width: 548px;
    max-height: 354px;
}

#imageInfo .infoAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 80%;
    max-width: 548px;
    gap: 1.5rem;
}

#imageInfo .infoAbout p {
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#more {
    display: none;
}

#buttonExpandRetraiText {
    background-color: transparent;
    color: #FE8400;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
/* Fim da div imageInfo */
/* Fim da section aboutUs */

/* Inicio da section bookNow */
#bookNow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

/* Inicio da div com a classe bookTitle */
#bookNow .bookTitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#bookNow .bookTitle h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}

/* Inicio da div com a classe bookingForm */
#bookNow .bookingForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Fim da div com a classe bookingForm */

/* Inicio do form com a classe formBook  */
#bookNow .bookingForm .formBook {
    width: 100%;
    padding: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C6;
}
/* Fim do form com a classe formBook  */

#bookNow .bookingForm .formBook .space {
    max-width: 65rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 32px 0px;
    flex-wrap: wrap;
}

/* Inicio Input */
#bookNow .bookingForm .formBook .inputStyleBig, .Gran{
    width: 320px;
}

#bookNow .bookingForm .formBook .inputStyleSmall, .Peq{
    width: 220px;
} 


#bookNow .bookingForm .formBook .inputStyleBig input, #bookNow .bookingForm .formBook .inputStyleSmall input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 8px 16px;
}

#bookNow .bookingForm .formBook .inputStyleSmall, #bookNow .bookingForm .formBook .inputStyleBig{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #141414;
    height: 60px;
}

.sobPosition {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    position: absolute;
}

.sobPosition div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
 
}

#buttonBook {
    width: 256px; 
    height: 60px;
    font-size: 24px;
}
/* Fim do Input */
/* Fim do form com a classe formBook  */
/* Fim da section bookNow */

/* Inicio da section cars */
#cars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

#cars .carsTitle h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #141414;
}

#cars .carasoulList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#cars .carasoulList .List {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
}

#cars .carasoulList .List .set-carList {
    z-index: 999;
}

#cars .carasoulList .List .cardsCars {
    width: 75%;
    min-width: 357px;
    max-width: 86.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#cars .carasoulList .List .cardsCars .card {
    width: 357px;
    height: 430px;
    display: flex;
    justify-content: center;
    padding: 40px 18px;
    flex-direction: column;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    gap: 12px;
}

#cars .carasoulList .List .cardsCars .card .carImg {
    width: 319.5px;
    height: 183px;
    object-fit: cover;
    border-radius: 3.33px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .nameConfig {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .nameConfig h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#cars .carasoulList .List .cardsCars .card .nameConfig .infoCar {
    display: flex;
    gap: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#cars .carasoulList .List .cardsCars .card .nameConfig .infoCar .infoCarBasic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #575757;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton .valor {
    color: #141414;
    font-size: 18px;
    font-weight: 500;
}

#cars .carasoulList .List .cardsCars .card .dataOfCar .valorButton .btnPageCar{
    width: 106px;
    height: 35px;
    font-size: 14px;
}

#cars .carasoulList .bullet {
    width: 64px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#cars .carasoulList .bullet .circle {
    width: 16px;
    height: 16px;
    background-color: #EAEAEA;
    border-radius: 50%;
}

#cars .carasoulList .bullet .circle.select {
    background-color: #FE8400;
}
/* Fim da section cars */

/* Inicio da section premiumServices */
#premiumServices {
    width: 100%;
    max-width: 58.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

#premiumServices .psTitle {
    margin-top: 2.875rem;
    width: 80%;
    max-width: 30.1875rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

#premiumServices .psTitle div {
    width: 100%;
    max-width: 366px;
}

#premiumServices .psTitle h3 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF;
}

#premiumServices .psTitle p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    line-height: 2rem;
}

#premiumServices .services {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
}

#premiumServices .services .cardServices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.125rem;
    width: 17.3125rem;
    height: 20.125rem;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.10);
}

#premiumServices .services .cardServices img {
    width: 56px;
}

#premiumServices .services .cardServices h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.375rem;
    color: #141414;
}

#premiumServices .services .cardServices p {
    width: 9.1875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    color: #575757;
    text-align: center;
}

.rectangle-horizon {
    width: 100%;
    height: 24.6875rem;
    background-color: #141414;
    position: absolute;
    z-index: -1;
}
/* Fim da section premiumServices */

#clientSay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}

#clientSay .cliSayTitle h3{
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #141414;
}

#clientSay .carrossel {
    width: 100%;
    max-width: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#clientSay .carrossel .clientCards {
    max-width: 930px;
    width: 100%;
    display: flex;
    gap: 1.5rem;
}

#clientSay .carrossel .clientCards .cardCli {
    
    max-width: 453px;
    width: 100%;
    height: 417px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

#clientSay .carrossel .clientCards .cardCli img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

#clientSay .carrossel .clientCards .cardCli .nameComent {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.375rem;
    text-align: center;
}

#clientSay .carrossel .clientCards .cardCli .nameComent h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight: 500;
    color: #141414;
}

#clientSay .carrossel .clientCards .cardCli .nameComent p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #575757;
}

/* Todos os elementos hr */
hr {
    border: 2px solid #FE8400;
}

/* Classe para reutilização de estilos */
.btnStyle {
    background-color: #FE8400;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #141414;
    border-radius: 4px;
}